* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}


.nav__row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(165, 203, 252);
}

.nav__link {
    text-decoration: none;
    color: black;
}

/* 

HEADER / ABOUT US 

*/

header .row {
    display: flex;
    align-items: center;
}


.header__description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 42px 0px 42px 0px
}

.header__description--info{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 24px 0px 0px 0px;
}

.header__searchbars {
  display: flex;
  justify-content: space-evenly;
}

.header__description--info {
align-items: center;
}

.graph {
    display: flex;
    flex-direction: column;
}
