.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.nav__row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(165, 203, 252);
}

.nav__link {
    text-decoration: none;
    color: black;
}

/* 

HEADER / ABOUT US 

*/


section {
    padding: 0 32px;
}

header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header__description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.header__description--para{
    width: 70%;
    margin: 0 24px;
}

.header__searchbars {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
} 

.header__searchbar {
    display: flex;
}

.header__searchbar--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: rgb(165, 203, 252);
    color: black;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms ease;
}

.header__searchbar--btn:hover {
    background-color: rgb(60, 13, 153);
}

.header__searchbar--input {
    width: 50px;
    border-radius: 500px;
    border: 2px solid rgb(299, 231, 235);
    display: flex;
    justify-content: space-between;
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}