.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.nav__row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(165, 203, 252);
}

.nav__link {
    text-decoration: none;
    color: black;
}

/* 

HEADER / ABOUT US 

*/


section {
    padding: 0 32px;
}

header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header__descrption {
    width: 40%;
}

.header__descrption--para{
    margin: 0 32px;
}

.header__searchbars {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
} 