.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.nav__row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav__link {
    text-decoration: none;
}